*{
    overflow-x: hidden;
}

.box1{
    /* border:1px solid red; */
    width:100vw;
    height:60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top:70px
}

.box1 h1, p{
    text-align: center;
}

.box1 h1{
    font-size: 50px;
}

.box1 p{
    width:40%;
    text-align: center;
}

.box-1-buttons{
    /* border:1px solid red; */
    width:20%;
    height:20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box-1-buttons button{
    border:none;
    height:50%;
    padding:0px 15px;
    background: black;
    color:white
}

.box-1-buttons a{
    text-decoration: none;
    color: white;
}

/* Banner 1 Section,, */

.banner2{
    width:100%;
    height:90vh;    
    /* bordeR:1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box{
    background-image: url('/Learnin2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width:90%;
    height: 90%;
}

.card p{
    text-align: center;
}

/* Features Section */

.features{
    width:100vw;
    height:100vh;
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

.pageTitle{
    text-align: center;
}

.card-block{
    width:90%;
    height:55%;
    /* border:1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card{
    width:26%;
    height:90%;
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.card img{
    width:90%;
    height:50%;
    /* border:1px solid red */
}

.card h3{
    text-align: center;
}

.features-btns{
    /* border:1px solid red; */
    width:25%;
    height:10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.features-btns a{
    text-decoration: none;
    /* color: white; */
    /* border:1px solid red; */
    padding: 15px 30px;
    background: black;
}

.features-btns a:nth-child(1){
    color:lime
}

.features-btns a:nth-child(2){
    color:blue
}

.features-btns button{
    padding:5px 15px;
    border:none;
    background: transparent;
}

.features-btns button:nth-child(1){
    border:1px solid black;
}

.banner3{
    background: url('/SereneCountrysideLandscape(1).png');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width:100vw;
    height:50vh;
    /* border:1px solid red; */
}

.user-feedback{
    /* border:1px solid red; */
    height:130vh;
    padding:0px
}