.auth-split {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  overflow: hidden;
  /* border:1px solid red; */
}

.left-pane {
  flex: 1;
  background: white;
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swipper-block{
  height:100%;
  /* border:1px solid red; */
  width:80%;
  overflow: hidden;
  border-radius: 5%;
}

.authText{
  color:white;
  margin-left:20px
}

.left-pane h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: black;
}

.left-pane p {
  font-size: 1.1rem;
  color: #333;
}

.right-pane {
  overflow: hidden;
  flex: 1;
  background: black;
  color: white;
  padding: 5rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  /* border:1px solid red */
}

.auth-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 450px;
  /* border:1px solid red; */
  overflow: hidden;
  font-size: 12px;
}

.auth-content h1{
  height:60px
}
/* 
.auth-content p, a{
  height:40px
} */




.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  /* gap: 0.5rem; */
  width: 100%;
  max-width: 400px;
  height:100%;
  /* border:1px solid red; */
}

.auth-form input {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  font-size: 0.8rem;
  background-color: white;
  color: black;
}

.auth-form button {
  padding: 0.6rem;
  font-size: 0.8rem;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.auth-form button:hover {
  background-color: #f0f0f0;
}

.right-pane p {
  margin-top: 1rem;
  padding:0.2rem
  /* font-size: 0.8rem; */
}

.right-pane a {
  color: lime;
  /* color: white; */
  text-decoration: none;
}

.google-btn {
  background-color: #fff;
  color: #444;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}