.hero {
    display: flex;
    justify-content: space-between;
    padding: 4rem 2rem;
}

.hero-left {
    max-width: 50%;
}

.hero-left h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.hero-left p {
    margin: 1rem 0;
    font-size: 1rem;
    color: #555;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.btn-explore {
    background: black;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-learn {
    background: white;
    color: black;
    padding: 0.75rem 1.5rem;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
}

.hero-right .image-placeholder {
    background-image: url(/Reflective-Pendant-Light-in-Study-Room.png);
    background-size: cover;
    width: 500px;
    height: 500px;
    /* border: 1px solid #aaa; */
}

.sec2{
    /* border:1px solid lime; */
    height:60vh;
}

.reasons{
    /* border:1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:60%;
    width:100%;
}

.reason-blk{
    /* border:1px solid red; */
    width:25%;
    height:100%
}